@mixin fonts-style($color-font, $font-weight) {
  font-size: 16px;
  line-height: 22px;
  color: $color-font;
  font-weight: $font-weight;
}
@mixin fonts-style-mob($color-font, $font-weight) {
  font-size: 12px;
  line-height: 18px;
  color: $color-font;
  font-weight: $font-weight;
}
