.brand-banner {
  margin-top: 140px;
}
.brand-banner__img {
  position: relative;
}
.brand-banner__img-inner {
  position: absolute;
  transform: translate(183%, -277%);
  z-index: 3;
}
.brand-banner__content {
  position: absolute;
  transform: translate(228%, -158%);
}
.brand-banner__subtitle {
  margin: 54px 0;
  font-size: 26px;
  text-transform: capitalize;
}
.brand-banner__btn {
  padding: 19px 26px;
  font-size: 30px;
  line-height: 34px;
}
