header{
    background-color: #E3E3E3;
    width: 1920px;
}
.header-icon{
    font-weight: 400px;
    font-size: 18px;
    line-height: 21px;
    color: #1E2832;
}
.nav-link-color a {
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.header-navbar{
    background-color: #E3E3E3 !important;
}
.border-bott{
    border-bottom: .1px solid rgba(50, 50, 50, .2);
}