header {
  background-color: #e3e3e3;
  width: 1920px;
  margin: 0 auto;
}
.header-icon {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1e2832;
  text-decoration: none;
}
.nav-link-color a {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  transition: all 0.4s ease-in;
}
.nav-link-color a:hover {
  text-decoration: underline;
  color: red !important;
}
.header-navbar {
  background-color: #e3e3e3 !important;
}

.border-bott {
  border-bottom: 0.1px solid rgba(50, 50, 50, 0.2);
}
.section-collection {
  width: 1320px;
  margin: 0 auto;
  position: relative;
}
.section-collection-left {
  width: 660px;
}
.section-collection-right {
  width: 660px;
}
.collection {
  font-weight: 300;
  font-size: 55px;
  line-height: 55px;
  font-family: "Roboto";
  color: #000000;
  letter-spacing: 0.2px;
}
.header-discription {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 21px;
  line-height: 55px;
  color: #000000;
}
.btn-shop {
  padding: 14px 26px 14px 26px;
  background-color: #1e2832;
}
.shop-link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 21px;
  line-height: 33px;
  color: #ffffff;
  text-decoration: none;
}
.img-left {
  position: absolute;
  top: 270px;
  left: -300px;
}
.img-right {
  position: absolute;
  top: 200px;
  left: 1430px;
}
@media screen and (max-width: 575px) {
  header {
    width: 100%;
  }
  .header-navbar {
    width: 100% !important;
    order: 1;
  }
  .border-bott {
    display: flex;
    flex-direction: row-reverse;
    order: 2;
    border: none;
    margin: 0 !important;
  }
  .header-search{
    display: none;
  }
  .header-logo img{
    display: none;
  }
  .section-collection {
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-collection-left,
  .section-collection-right {
    width: 100%;
    text-align: center;
  }
  .collection {
    font-size: 28px;
    line-height: 28px;
  }
  .header-discription {
    font-size: 16px;
    line-height: 24px;
  }
  .shop-link {
    font-size: 16px;
    line-height: 24px;
  }
  .img-left,
  .img-right {
    display: none;
  }
  .section-collection-right img {
    width: 80%;
    max-width: 150px;
    height: auto;
    margin-top: 20px;
  }
  .btn-shop {
    padding: 8px 16px;
    margin-bottom: 20px;
  }
  .section-collection-right img {
    margin-top: 20px;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-icon{
    display: flex;
    align-items: center;
    gap:3px;
    font-size: 15px;

  }
  .nav-link-color a{
    font-size: 16px;
  }
}
