.section-top__products {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}
.section-slider {
  max-width: 1320px;
  text-align: center;
  margin: 140px 300px;
}
.btn-style {
  border: none;
}
.style-fonts {
  @include fonts-style(#7f7f7f, 600);
}
.section-title {
  font-size: 50px;
  font-weight: 500;
  line-height: 58px;
}
.section-top__products {
  padding: 35px 0;
}
.slider-list__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 0;
  position: relative;
}
.slider-list__item {
  list-style: none;
}
.slider-list__item-inner {
  text-align: start;
}
.slider-list__products-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-list__items-name {
  @include fonts-style(#000, 600);
  padding: 18px 0 16px 0;
}
.slider-list__items-type {
  @include fonts-style(#7f7f7f, 600);
}
.slider-list__items-price {
  @include fonts-style(#000, 600);
}
.slider-list__products-add-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  transform: translate(262px, 10px);
  z-index: 3;
}
// ПРИ НАВЕДЕНИЕ ОТОБРАЖАЕТСЯ IMG HEART
.slider-list__products-add-cart {
  display: none;
}

.slider-list__item-inner:hover .slider-list__products-add-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

//ИКОНКИ ДЛЯ СЛАЙДЕРА
.slider-scrolling__icons {
  position: absolute;
  width: 1320px;
  transform: translate(0px, -352px);
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
// СТИЛИ ДЛЯ НОВОЙ СТРАНИЦЕ ДЛЯ ФУТБОЛОК
.list-product__t-shirt {
  display: flex;
  align-items: center;
  gap: 20px;
}
.list-product__item {
  list-style: none;
}
// СТИЛИ ДЛЯ НОВОЙ СТРАНИЦЕ ДЛЯ ХУДИ

.list-product__hoodies {
  display: flex;
  align-items: center;
  gap: 20px;
}

// СТИЛИ ДЛЯ НОВОЙ СТРАНИЦЕ ДЛЯ ЖЕКЕТЫ
.list-product__jacket {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
// ==============
.container {
  overflow-x: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}
.container .gallery {
  width: 100%;
}
