@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "./base/normalizer";
@import "./base/fonts";
@import "./abstractions/mixins";
@import "./abstractions/placeholders";
@import "./components/product-promotions";
@import "./components/brand-banner";
@import "./components/slider-products";
@import "./components/footer";
@import "./components/sponsors";
@import "./components/header-section";

main {
  margin: 0 auto;
  width: 1920px;
}
.swiper {
  width: 600px;
  height: 300px;
}
